*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
/*.navbar{
    margin-top: 3px;  
}*/
.topnav{
    margin-left: 81px;
    background: #fff;
    height: 46px;
    left: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.topnav.active{
    margin-left: 212.5px;
    background: #fff;
    height: 46px;
    /*left: 30px;*/
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    
}
.sidebar .proj-name{
   
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
}
.sidebar .proj_name.active{
    font-size: 20px;
    margin-top: 8px;
    margin-left: 5px;
    opacity: 1;
}

.sidebar{
    position: fixed;
    margin-top: 0px;
    height: 100%;
    width: 78px;
    background: #fefefe;
    top: 0;
    left: 0;
    padding: 6px 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active{
    width:210px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sidebar .logo_content .dashboard{
    display: flex;
    height: 20px;
    width: 100%;
    align-items: center;
}
.logo_content .dashboard .dashboard_name{
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 7px;
}
.topnav #btn{
    position: absolute;
    margin-top: -6px;
    margin-left: -45px;
    top: 6px;
    left: 10%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}
.topnav.active #btn{
    
    margin-left: 80px;
}
.topnav .topnav_img{
    margin-top: 5px;
    margin-left: 1360px;
    width: 100px;
    height: 40px;
    transform: all 0.5s ease;
    text-align: center;
}
.topnav.active .topnav_img{
    margin-top: 5px;
    margin-left: 1230px;
    width: 100px;
    height: 40px;
    text-align: center;
    transform: all 0.5s ease;
}
.topnav #btn:hover{
    color: #199eff;
}

.sidebar ul{
    margin-top: 5px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 60px;
    margin: 0 -35px;
    list-style: none;
    line-height: 50px;
}
.sidebar.active ul li{
  
    width: 190px;
    font-size: 15px;
}
.sidebar ul li .tooltip{
    position: relative;
    left: 122px;
    color: #1f2441;
    height: 35px;
    width: 122px;
    top: 0%;
    transform: translate(-50%, -50%);
    background: #67daff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;

}
.sidebar ul li:hover .tooltip{
    top: 50%;
    opacity: 1;
    transition: all 0.5s ease;

}
.sidebar ul li a{
    display: flex;
    margin-left: 0;
    align-items: center;
    text-decoration: none;
    transform: all 0.4s ease;
    border-radius: 12px;
    color: black;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #199eff;
    background: #ebebeb;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 220px);
    color: black;
    left: 90px;
    transition: all 0.5s ease;
}
.sidebar.active~ .home_content{
    width: calc(100% - 220px);
    left:220px;
}
.sidebar.active~ .topnav{
    width: calc(100% - 40px);
    left:240px;
    margin-left: 212.5px;
}
/*login*/
/*others*/
.user{
    margin-right: 200px;
    text-decoration: none;
    
}
